@import './core/Variables.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

htlm {
  font-size: 62.5%;
}

.header {
  background-image: url('../images/owen-paris.jpg');
  background-repeat: no-repeat;
  background-position-x: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: self-end;
  font-family: $font-josefin;
  font-size: 2rem;
  text-shadow: 2px 2px 4px rgb(225, 228, 131);
  color: rgb(1, 1, 34);
  padding: 1rem;

  @media (min-width: 1024px) {
    background-position: center;
    padding-right: 12rem;
  }
  @media (min-width: 1400px) {
    padding-right: 19rem;
  }

  .title-two {
    font-size: 4rem;
    font-weight: 500;
    height: 15rem;
    display: flex;
    justify-content: end;
    align-items: end;
  }
}
