@import './core/Variables.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

htlm {
  font-size: 62.5%;
}

.header {
  height: 60vh;
  background-image: url('../images/prueba-cuatro.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 47%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: self-end;
  font-family: $font-josefin;
  font-size: 2rem;
  text-shadow: 2px 2px 4px #ed9b04;
  color: rgb(1, 1, 34);
  padding: 1rem;

  @media (min-width: 1024px) {
    background-position: center;
    padding-right: 12rem;
  }
  @media (min-width: 1400px) {
    padding-right: 19rem;
  }

  .title-two {
    font-size: 4rem;
    font-weight: 500;
    height: 15rem;
    display: flex;
    justify-content: end;
    align-items: end;
  }
}

.main {
  background-color: #000012;
}

.footer {
  background: linear-gradient(to top, #ed9b04, #6a5204);
  font-family: $font-josefin;
  font-size: 1rem;

  &__div {
    padding: 3rem;
    color: white;
    text-align: center;
  }
}
